html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body{
    margin: auto;
    background-color: black;
    color: white;
    font-family: "Dank Mono",ui-monospace,monospace;
}
h1{
    font-size: xx-large;
    font-weight: 600;
    font-size: 250%;
    padding-top: 40%;
    text-align: center;
}
st{

    display: block;
    text-align: center;
}
