html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body{
    margin: auto;
    padding: 10%;
    padding-top: 40%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Dank Mono",ui-monospace,monospace;
}
h{
    font-size: xx-large;
    font-weight: 600;
    font-size: 250%;
}
